<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=form, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <form action="/authors/add" method="POST" enctype="multipart/form-data">
   btitle: <input type="text" name="bt">
   genre <input type="text" name="ge">
   author <input type="text" name="au">
  image: <input type="file" name="file1" accept="image/*"/>
  <button type="submit">add new</button>
   </form> 
</body>
</html>